@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #ffffff;
  --font-family: "Poppins", serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
  overflow-y: auto;
  font-family: var(--font-family);
}

#root {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

* {
  font-family: var(--font-family);
}
